# git ignore file
particles_vs2010.opensdf
ipch/particles_vs2010-6f936b98/5fdcd102.ipch

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj

*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
doc/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.pdb
*.o
*.ipch
ipch/particles_vs2010-6f936b98/5fdcd102.ipch
ipch/particles_vs2010-6f936b98/5fdcd102.ipch
ipch/particles_vs2010-6f936b98/5fdcd102.ipch
ipch/particles_vs2010-6f936b98/5fdcd102.ipch
ipch/particles_vs2010-6f936b98/5fdcd102.ipch
vc100.pdb
Win32/Debug/CL.read.1.tlog
Win32/Debug/link.command.1.tlog
Win32/Debug/link.read.1.tlog
Win32/Debug/link.write.1.tlog
Win32/Debug/particles.exe.intermediate.manifest
Win32/Debug/particles.lastbuildstate
Win32/Debug/particles.obj
Win32/Debug/particles.unsuccessfulbuild
Win32/Debug/particles_kernel.cuh.cache
Win32/Debug/particles_vs2010.log
Win32/Debug/particleSystem.obj
Win32/Debug/particleSystem_cuda.cu.cache
Win32/Debug/particleSystem_cuda.cu.deps
Win32/Debug/particleSystem_cuda.cu.obj
Win32/Debug/render_particles.obj
Win32/Debug/shaders.obj
Win32/Debug/vc100.idb
Win32/Debug/vc100.pdb
Win32/Release/cl.command.1.tlog
Win32/Release/CL.read.1.tlog
Win32/Release/CL.write.1.tlog
Win32/Release/particles.obj
Win32/Release/particles_vs2010.log
Win32/Release/particleSystem.obj
Win32/Release/particleSystem_cuda.cu.obj
Win32/Release/render_particles.obj
Win32/Release/shaders.obj
Win32/Release/vc100.pdb
ipch/particles_vs2010-6f936b98/5fdcd102.ipch
vc100.pdb
Win32/Debug/CL.read.1.tlog
Win32/Debug/link.command.1.tlog
Win32/Debug/link.read.1.tlog
Win32/Debug/link.write.1.tlog
Win32/Debug/particles.exe.intermediate.manifest
Win32/Debug/particles.lastbuildstate
Win32/Debug/particles.obj
Win32/Debug/particles.unsuccessfulbuild
Win32/Debug/particles_kernel.cuh.cache
Win32/Debug/particles_vs2010.log
Win32/Debug/particleSystem.obj
Win32/Debug/particleSystem_cuda.cu.cache
Win32/Debug/particleSystem_cuda.cu.deps
Win32/Debug/particleSystem_cuda.cu.obj
Win32/Debug/render_particles.obj
Win32/Debug/shaders.obj
Win32/Debug/vc100.idb
Win32/Debug/vc100.pdb
Win32/Release/cl.command.1.tlog
Win32/Release/CL.read.1.tlog
Win32/Release/CL.write.1.tlog
Win32/Release/particles.obj
Win32/Release/particles_vs2010.log
Win32/Release/particleSystem.obj
Win32/Release/particleSystem_cuda.cu.obj
Win32/Release/render_particles.obj
Win32/Release/shaders.obj
Win32/Release/vc100.pdb
ipch/particles_vs2010-6f936b98/5fdcd102.ipch
ipch/particles_vs2010-6f936b98/5fdcd102.ipch
particles_vs2008.sln
test2.bin
data/test1.bin
*.bin
*.md5
*.map
*.scope_file_list
*.cscope_file_list
UpgradeLog.htm
UpgradeLog.XML
_UpgradeReport_Files/
particles_vs2008.sln.old
*.old
*.tlog
*.exp
*.db
*.opendb
*.filters