# git ignore file
particles_vs2010.opensdf
ipch/particles_vs2010-6f936b98/5fdcd102.ipch

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.suo
*.pdb
*.o
*.vcxproj
*.sdf
*.opensdf
*.vcproj
*.ipch
ipch/particles_vs2010-6f936b98/5fdcd102.ipch
